 
  * {
      margin: 0px; 
      padding: 0px; 
      box-sizing: border-box;
  }
  
  body, html {
      height: 100%;
      font-family: sans-serif;
      background: rgba(0, 0, 0, 0.712)
  }


  h1,h2,h3,h4,h5,h6 {margin: 0px; color: rgba(255, 255, 255, 0.699)}
  
  p {margin: 0px;}
  
  
  input {
    display: block;
      outline: none;
      border: none !important;
  }

  .container-table100 {
    width: 100%;
    height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 33px 30px;
  }
  
  .wrap-table100 {
    width: 1170px;
    height: 100%;
  }

  h2{
    margin-bottom: 5%;
    color: white;
    font-family: 'Cambria';
  }
  
  table {
    border-spacing: 1;
    border-collapse: collapse;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    position: relative;
  }
  table * {
    position: relative;
  }
  table td, table th {
    padding-left: 8px;
  }
  table thead tr {
    height: 50px;
    background: lightgrey
  }
  table tbody tr {
    height: 50px;
  }
  table tbody tr:last-child {
    border: 0;
  }
  table td, table th {
    text-align: left;
  }
  table td.l, table th.l {
    text-align: right;
  }
  table td.c, table th.c {
    text-align: center;
  }
  table td.r, table th.r {
    text-align: center;
  }
  
  
  .table100-head th{
    font-family: OpenSans-Regular;
    font-size: 18px;
    color: navy;
    line-height: 1.2;
    font-weight: bold;
  }
  
  tbody tr:nth-child(even) {
    background-color:grey
  }
  
  tbody tr {
    font-family: OpenSans-Regular;
    font-size: 15px;
    color: black;
    line-height: 1.2;
    font-weight: unset;
  }
  
  tbody tr:hover {
    color: black;
    background-color:lightblue;
    cursor: pointer;
  }
  
  .column1 {
    width: 260px;
    padding-left: 40px;
  }
  
  .column2 {
    width: 160px;
  }
  
  .column3 {
    width: 245px;
  }
  
  .column4 {
    width: 110px;
    text-align: right;
  }
  
  .column5 {
    width: 170px;
    text-align: right;
  }
  
  
  

  .custom-select {
    position: relative;
    font-family: 'Cambria';
    
  }

  .custom-select select{
    font-family: 'Cambria';
    font-size: 18px;
    width: 200px;
    font-weight: bold;
  }

  .custom-select select option{
    font-size: 18px;
  }

  .select-selected {
    background-color: DodgerBlue;
  }

  
  
