<h4 style="text-align:left;margin:30px">Hi {{user.customerFirstName}}!</h4>
<div class="outer">
  <div class="card">
    <img src="../assets/user.jpg" alt="user" style="width:100%">
    <h1>Name: {{user.customerFirstName}} {{user.customerLastName}}</h1>
    <p class="title">Username: {{user.username}}</p>
    <p>Customer ID: {{user.customerId}}</p>
    <p><i class="fa fa-envelope " aria-hidden="true"></i>{{user.emailId}}</p>
    <p><i class="fa fa-mobile fa-2x" aria-hidden="true"></i>{{user.customerMobileNumber}}</p>
    <p><i class="fa fa-birthday-cake" aria-hidden="true"></i>{{user.customerDateOfBirth}}</p>
    <button type="button" class="btn btn-default btn-sm" routerLink="/register">
      <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit Details</button>
  </div>
</div>
<div>
  <h3>Currently Active plans</h3>
  <table id="customers">
    <tr>
      <th>Service ID</th>
      <th>Service</th>
      <th>Plan</th>
      <th>Package</th>
      <th>Activation Date</th>
      <th>Delete?</th>
    </tr>
    <tr>
      <td>12345</td>
      <td>Voice</td>
      <td>Prepaid</td>
      <td>R399</td>
      <td>27-06-2010</td>
      <td><a href="#">
          <span class="glyphicon glyphicon-trash" style="margin-left: 10px"></span>
        </a></td>
    </tr>
    <tr *ngFor="let a of plans">
      <td>{{a.serviceId}}</td>
      <td>{{a.services}}</td>
      <td>{{a.plans}}</td>
      <td>{{a.packages}}</td>
      <td>{{a.dateOfActivation}}<a href="#">
          <span class="glyphicon glyphicon-trash"></span>
        </a></td>
    </tr>
  </table>
  <p><button class="add-plan" routerLink="/plans"><i class="fa fa-plus" aria-hidden="true"></i>Add new plan</button></p>

</div>