<div id="image">
  <div class="column1" height="100%">
    <a href="/"><img src="/assets/logo.jpg" width="160px" height="90px"> </a>
  </div>
  <div class="content">
    <form>
      <div class="container">
        <h1>Log In</h1>
        <p>Please enter your login credentials</p>
        <hr>

        <label for="email"><b>Email</b></label>
        <input type="text" placeholder="Enter Email" name="email" required>

        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required>


        <hr>


        <button type="submit" class="submitbtn">Log In</button>
      </div>

      <div class="container signin">
        <p>Dont have an account? <a href="/register">Register</a>.</p>
      </div>
    </form>


  </div>
</div>