
<div *ngFor="let user of user; let i=index">
     
  <h4>Welcome {{user.username}}</h4>
  <h4>{{user.customerId}}</h4>
  <h4>Please Select a plan</h4>   
    <form style="margin: 3%;" #f="ngForm" (ngSubmit)="save(user)">

      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="inputservice">Plans</label>
          <select id="inputservice" class="form-control" [(ngModel)]="plan.plans" [ngModelOptions]="{standalone: true}">
            <option selected>--Select Plan--</option>
            <option >Prepaid</option>
            <option >Postpaid</option>
          </select>
        </div>
        
        <div class="form-group col-md-4">
          <label for="inputservice">Service</label>
          <select id="inputservice" class="form-control" [(ngModel)]="plan.services" [ngModelOptions]="{standalone: true}">
            <option selected>--Select Service--</option>
            <option >Voice</option>
            <option >Video</option>
            <option >Fiber</option>
            <option>Broadband</option>
          </select>
        </div>
        
        <div class="form-group col-md-4">
          <label for="inputservice">Packages</label>
          <select id="inputservice" class="form-control" [(ngModel)]="plan.packages" [ngModelOptions]="{standalone: true}">
            <option selected>--Select Package--</option>
            <option >R299</option>
            <option >R399</option>
            <option >R449</option>
            <option >R599</option>
            <option>R999</option>
          </select>
        </div>
      
      </div>
      <div class="form-group">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="gridCheck">
          <label class="form-check-label" for="gridCheck">
            Check me out
          </label>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</div>