<header class="head" style="margin-top: 10px">

  <div class="head1">
    <a href="/"><img src="assets/logo.jpg" width="160px" height="90px"> </a>


  </div>
  <div class="head2">
    <ul>
      <li><a href="/login">Login</a></li>
      <li><a href="/register">Register</a></li>

    </ul>


  </div>
</header>
<nav>


  <ul id="Nav" style="margin-bottom: 10px">

    <li><a href="/aboutus">About US</a></li>
    <li><a href="/contactUs">Contact Us</a></li>
    <li><a href="/plans">Plans</a></li>
    <li><a href="/">Home</a></li>
  </ul>

</nav>

<div class="container">
  <img src="assets/slideshow.jpg" alt="Slideshow" class="image" style="width:100%">
  <div class="middle">
    <div class="text"><a href="login" style="text-decoration: none; color:White">Login</a></div>
  </div>
</div>



<div class="row" style="margin-top: 10px">
  <div class="column" style="background-color:#C0C0C0;">
    <img src="assets/plan1.jpeg" alt="Avatar" class="image" style="width:100%">
    <div class="plans">
      <div class="text">
        <ul>
          <li>Validity : Lifetime</li>
          <li>Price : Rs.299 per Month</li>
          <li>No Accidental phone Damage Insurance </li>
          <li>Data : 1GB 3G data per Day</li>
          <li id="apply"><a href="/register">Apply now</a></li>

        </ul>
      </div>
    </div>

  </div>
  <div class="column" style="background-color:#FFD700;">
    <img src="assets/plan2.jpeg" alt="Avatar" class="image" style="width:100%">
    <div class="plans">
      <div class="text">
        <ul>
          <li>Validity : Lifetime</li>
          <li>Price : Rs.499 per Month</li>
          <li>Free Accidental phone Damage Insurance </li>
          <li>Data : 1GB 4G data per Day</li>
          <li id="apply"><a href="/register">Apply now</a></li>

        </ul>
      </div>
    </div>
  </div>
  <div class="column" style="background-color:#E5E4E2;">
    <img src="assets/plan3.jpeg" alt="Avatar" class="image" style="width:100%">
    <div class="plans">
      <div class="text">
        <ul>
          <li>Validity : Lifetime</li>
          <li>Price : Rs.699 per Month</li>
          <li>Free Accidental phone Damage Insurance </li>
          <li>Data : 3GB 4G data per Day</li>
          <li>Free 1-Year Membership for Amazon Prime</li>
          <li id="apply"><a href="/register">Apply now</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<footer class="foot" style="margin-top: 10px">
  <div class="foot1">
    <ul>
      <li><a href="/faq">FAQ</a></li>
      <li><a href="/feedback">Feedback</a></li>
      <li><a href="/complaint">File a Complaint</a></li>
      <li><a href="/contactUs">Contact Us</a></li>
    </ul>


  </div>
  <div class="foot2">
    <img id="logo" src="assets/logo.jpg" width="160" height="90px">


  </div>
</footer>